nav.navbar.navbar-expand-lg.navbar-light.bg-light(style="height: 60px")
  .container
    nav.navbar 
      .navbar-brand
        img(src='../static/images/ad-ticket-logo/icon-transparant.png', alt='A&D Ticket', style="width:100px;height:100px;")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='#') Services
        li.nav-item
          a.nav-link(href='#') Contact
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#') Login
        li.nav-item
          a.nav-link(href='#') Register
