include ../partials/head
  body
    .container
      .row
        .col-md-6.offset-md-3.text-center.mt-5
          h1(display-1) 404 Not Found
          p(lead) Üzgünüz, aradığınız sayfa bulunamadı.
          a(href="/", class="btn btn-primary mt-3") Ana Sayfaya Dön
