include ../partials/head

body

  include ../partials/navbar

  .container.mt-4.text-center
    .row
      .col-md-8.mx-auto.text-center
        h2 Filtrele
        form(method="post")
          select.form-select.mb-3(name="kalkis")
            option(value='default') Kalkış Yeri
            option(value='istanbul') İstanbul
            option(value='ankara') Ankara
            option(value='izmir') İzmir
          select.form-select.mb-3(name="varis")
            option(value='default') Varış Yeri
            option(value='istanbul') İstanbul
            option(value='ankara') Ankara
            option(value='izmir') İzmir
            input.form-control.mb-3(type="date" name="tarih" id="tarih")
          button.btn.btn-secondary(type="submit") Filtrele  


  .row.mt-4.text-center
    .col-md-8.mx-auto.text-center
      h2 Popüler Otobüs Biletleri
      .card
        .card-body
          h5.card-title İstanbul - Ankara
          p.card-text Koltuklar sınırlı, hemen satın alın!
          button.btn.btn-primary(type="button") Satın Al
      .card
        .card-body
          h5.card-title İzmir - Bursa
          p.card-text Fırsatı kaçırmayın, son biletler!
          button.btn.btn-primary(type="button") Satın Al
      .card
        .card-body
          h5.card-title Ankara - İzmir
          p.card-text Erken rezervasyon fırsatı!
          button.btn.btn-primary(type="button") Satın Al

  .col-md-8.mx-auto.text-center.mt-4
    h1 Kolayca Bilet Al
    p
      | AD Ticket sizin için tüm seçkin otobüs firmalarını bir araya getirdi. Nereden nereye otobüs yolculuğu yapacağınızı seçin, istediğiniz tarihi girin ve otobüs biletleri için arama yapın. A&D Ticket, farklı otobüs firmalarından size uygun olan tüm otobüs seferlerini arayıp saniyeler içinde tüm seferleri karşınıza getirsin. Tüm firmaların otobüs sefer saatlerini ve bilet fiyatlarını görün ve karşılaştırın. Aradığınız bileti bulduğunuzda ise istediğiniz koltuğu seçerek yine saniyeler içerisinde biletinizi online olarak kolayca ve güvenle alın. Üstelik bunun için A&D Ticket’e hiçbir ek ücret ödemenize gerek yoktur. En ucuz otobüs bileti fiyatları da A&D Ticket'da bulunmaktadır. Tüm otobüs firmalarının otobüs biletlerini arayarak ve bilet fiyatlarını görüp karşılaştırarak istediğiniz ucuz otobüs biletini kolayca bulmanızı sağlayan A&D Ticket ile online otobüs biletlerinizi hemen satın alın.

  include ../partials/footer
