doctype html
html(lang="en")

  include ../partials/head

  body

    include ../partials/navbar

    h1 Biletler
    p Kalkış: #{kalkis}
    p Varış: #{varis}
    p Tarih: #{tarih}


  include ../partials/footer